# =========================
# Compilação Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Arquivos de banco de dados
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp
*.swp
*.swo
*~

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# =========================
# Build folders
# =========================
bin/
out/
target/

# =========================
# Dependências locais (JavaFX JARs)
# =========================
lib/

# =========================
# Arquivos sensíveis
# =========================
*.env
*.key
*.pem
*.crt
*.pdf

# =========================
# Arquivos gerados pelo projeto
# =========================
*.enc
*.asd
*.env
index.*